* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  height: 100vh;
  gap: 1rem;
}

.star-wars__header {
  display: flex;
  flex-direction: column;
}

.error-text {
  margin-top: 3px;
  color: #ff0000;
}